@charset "UTF-8";

body{
    background: url("img/ubuntu.jpg") no-repeat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table{
    border: solid 2px #454546;
    border-spacing: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}
td{
    border: solid 2px #454546;
    padding: 5px;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #e9e219;
    font-size: 2.5em;
}
.menu{
    background: #454546;
    color: #e9e219;
    font-size: 1.3em;
}
a{
    text-decoration: none;
    color: #e9e219;

}
a:hover{
    text-decoration: underline;
    color: rgb(65, 65, 98)
}
